p {
  font-family: 'Roboto Mono', monospace;
}


.video-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
}

.channel {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
}

.bio {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 20;
  width: 280px;
  line-height: 20px;
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(168, 49, 49);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}

.yo {
  cursor: pointer;
  text-decoration: underline;
}

.yo:hover {
  font-weight: bold;
}