.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
}

.sidebar-link {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 230, 230);
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  font-family: roboto;
  font-size: 9px;
}